{% extends 'base.html.twig' %}

{% block title %}New Usager{% endblock %}

{% block body %}

<div class="card col-md-6 offset-3">
    <div class="card-header">
        <a class="btn-back text-secondary" href="{{ path("app_boutique_index") }}">
            <i class="fas fa-2x fa-arrow-circle-left"></i>
        </a>
        <h3>
            <i class="fas fa-user-plus"></i>
            Inscription
        </h3>
    </div>
    <div class="card-body">

        {{ include('usager/_form.html.twig') }}

        <hr>
        <div class="col-md-12 text-right">
            <p>
                Déjà client ?
                <a class="btn btn-sm btn-secondary" type="submit" href="{{ path("app_login") }}">
                    Connexion
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
